{extend name="./layout/head"}
{block name="content"}

            <!-- Pcontenttent -->
            <div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="/admin/index/index">内容管理</a>
            </li>
            <li class="active">内容列表</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <button type="button" tooltip="添加内容" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '/admin/content/add'"> <i class="fa fa-plus"></i> Add
        </button>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <table class="table table-bordered table-hover">
                                <thead class="">

                                <tr>
                                    <th class="text-center">文章标题</th>
                                    <th class="text-center">文章作者</th>
                                    <th class="text-center">关键字</th>
                                    <th class="text-center">所属分类</th>
                                    <th class="text-center">操作</th>
                                </tr>

                                </thead>
                                <tbody>
                                {foreach $content as $v}
                                <tr>
                                    <td align="center">{$v.title}</td>
                                    <td align="center">{$v.author}</td>
                                    <td align="center">{$v.keywords}</td>
                                    <td align="center">{$v.cat_name}</td>
                                    <td align="center">
                                        <a href="/admin/content/edit?id={$v.id}" class="btn btn-primary btn-sm shiny">
                                            <i class="fa fa-edit"></i> 编辑
                                        </a>
                                        <a href="#" onClick="warning('确实要删除吗', '/admin/content/delete?id={$v.id}')" class="btn btn-danger btn-sm shiny">
                                            <i class="fa fa-trash-o"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                            {$page}
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
                <!-- /Page Body -->
            </div>
            <!-- /Pcontenttent -->

{/block}
