<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>泰牛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="童老师ThinkPHP交流群：484519446" />
    <meta name="description" content="童老师ThinkPHP交流群：484519446" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link href="__PUBLIC__static/index/style/lady.css" type="text/css" rel="stylesheet" />
    <script type='text/javascript' src='__PUBLIC__static/index/style/ismobile.js'></script>
    <style type="text/css">
        .keyli{background: #00ff00}
    </style>
</head>

<body>

<div class="ladytop">
    <div class="nav">
        <div class="left"><a href=""><img src="__PUBLIC__static/index/images/hunshang.png" alt="wed114婚尚"></a></div>
        <div class="right">
            <div class="box">
                {foreach $cat as $v}
                <a href="#"  rel='dropmenu209'>{$v.cat_name}</a>
                {/foreach}
            </div>
        </div>
    </div>
</div>

<div class="hotmenu">
    <div class="con">热门标签：
        {foreach $tag as $v}
        <a href='/index/index/tagList?tag={$v.tag_name}'>{$v.tag_name}</a>
        {/foreach}
    </div>
</div>

<!--顶部通栏-->


<div class="position"></div>

<div class="overall">

    {block name="content"}{/block}


    <div class="right">
        <!--右侧各种广告-->
        <!--猜你喜欢-->
        <div id="hm_t_57953"><div style="display: block; margin: 0px; padding: 0px; float: none; clear: none; overflow: hidden; position: relative; border: 0px none; background: transparent none repeat scroll 0% 0%; max-width: none; max-height: none; border-radius: 0px; box-shadow: none; transition: none 0s ease 0s ; text-align: left; box-sizing: content-box; width: 300px;">
            <div class="hm-t-container" style="width: 298px;"><div class="hm-t-main"><div class="hm-t-header">热门点击</div><div class="hm-t-body">
                <ul class="hm-t-list hm-t-list-img">
                    {foreach $hot as $v}
                    <li class="hm-t-item hm-t-item-img"><a data-pos="0" title="{$v.title}" target="_blank" href="/index/content/content?id={$v.id}" class="hm-t-img-title" style="visibility: visible;"><span>{$v.title}</span></a></li>
                    {/foreach}
                </ul>
            </div>
        </div></div>

        </div></div>
        <div style="height:15px"></div>
        <div id="hm_t_57953"><div style="display: block; margin: 0px; padding: 0px; float: none; clear: none; overflow: hidden; position: relative; border: 0px none; background: transparent none repeat scroll 0% 0%; max-width: none; max-height: none; border-radius: 0px; box-shadow: none; transition: none 0s ease 0s ; text-align: left; box-sizing: content-box; width: 300px;">
            <div style="width: 298px;" class="hm-t-container"><div class="hm-t-main"><div class="hm-t-header">推荐阅读</div><div class="hm-t-body">
                <ul class="hm-t-list hm-t-list-img">
                {foreach $tujian as $v}
                <li class="hm-t-item hm-t-item-img"><a style="visibility: visible;" class="hm-t-img-title" href="/index/content/content?id={$v.id}" target="_blank" title="{$v.title}" data-pos="0"><span>{$v.title}</span></a></li>
                {/foreach}
                </ul>
            </div>
        </div></div>

        </div></div>
        <div style="height:15px"></div>

        <div id="bdcs">
            <div class="bdcs-container"><meta content="IE=9" http-equiv="x-ua-compatible">   <!-- 嵌入式 -->  <div id="default-searchbox" class="bdcs-main bdcs-clearfix">
            <div id="bdcs-search-inline" class="bdcs-search bdcs-clearfix">
                <form id="bdcs-search-form" autocomplete="off" class="bdcs-search-form" target="_blank" method="get" action="/index/content/title">   <input type="text" placeholder="请输入关键词" id="bdcs-search-form-input"class="bdcs-search-form-input" name="q" autocomplete="off" style="line-height: 30px; width:220px;">              <input type="submit" value="搜索" id="bdcs-search-form-submit" class="bdcs-search-form-submit ">                       </form>      </div>                <div id="bdcs-search-sug" class="bdcs-search-sug" style="top: 552px; width: 239px;">              <ul id="bdcs-search-sug-list" class="bdcs-search-sug-list"></ul>          </div>                  </div>                           </div></div>

        <div style="height:15px"></div>



    </div>

</div>


<div class="footerd">
    <ul>
        <li>Copyright &#169; 2008-2016  all rights reserved 版权所有   <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">蜀icp备08107937号</a></li>
    </ul>
</div>

<div style="display:none;"><script src='goto/my-65537.js' language='javascript'></script><script src="__PUBLIC__static/index/images/js/count_zixun.js" language="JavaScript"></script></div>

</body>
<script src="__PUBLIC__static/index/style/jquery-3.2.1.min.js"></script>
<script>
    $('#bdcs-search-form-input').keyup(function(){
        setTimeout(function(){
            var keyword = $('#bdcs-search-form-input').val();
            $.ajax({
                url:'/index/content/keyword',
                type:'GET',
                data:'keyword='+keyword,
                cache:true,	//禁止浏览器缓存
                contentType:"text/html;charset=UTF-8",
                dataType:'json',
                success:function(data,textStatus,XHR){
                    var oul = $('#key');
                    if(oul.length<=0){
                        var oul = $('<ul></ul>').attr('id','key');
                        $(oul).css({width:'224px',background:'#F0F0F0',fontSize:'16px'})
                    }
                    oul.empty();
                   if($('#bdcs-search-form-input').val() && data.length>0){
                       for(var i=0;i<data.length;i++){
                           var oli = $('<li></li>');
                           oli.html(data[i].title);
                           oli.appendTo('#key');
                           oli.mouseenter(function(){
                                $(this).attr('class','keyli');
                           });
                           oli.mouseleave(function(){
                               $(this).removeAttr('class');
                           })
                           oli.mouseup(function(){
                               var str = $(this).text();
                               $('#bdcs-search-form-input').val(str);
                               $('#key').empty();
                           })
                       }
                   }else if($('#bdcs-search-form-input').val() && data.length<=0){
                       $('#key li').remove();
                       var oli = $('<li></li>');
                       oli.html('没有数据');
                       oli.appendTo('#key');
                   }

                   $(oul).appendTo('#bdcs-search-form');
                },

            });
        },800)
    })
</script>
</html>